.main-container{
    position: relative;
}

.main-container .img-container{
    position: absolute;
    right: 0;
    top: 0;
}

.parent{
    position: relative;
    
}

.parent .child{
    position: absolute;
    top: 33px;
    right: 13px;
}