.forestbanner{
    background-image: linear-gradient(to top, rgba(0,0,0,1),rgba(0,0,0,0.7), rgba(0,0,0,0.4), rgba(0,0,0,0) ), url(../public/forestdektaci.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    background-position: center;
}